<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>


<body class="d-flex flex-column min-vh-100 text-light">

<%- include('includes/navbar', {user}) %>

  <div class="container d-flex justify-content-center align-items-center flex-grow-1 my-5 pb-4 rounded-5 shadow w-50 border">
    <div class="w-50">
      <h1 class="mb-4 text-center">Login</h1>
      <form action="password" method="put">
        <div class="mb-3 position-relative">
          <input type="password" class="form-control rounded-5 pe-5" id="password" name="password" placeholder="Your Password" required>
          <i class="bi bi-lock position-absolute top-50 end-0 translate-middle-y pe-3" style="font-size: 18px; color: #343a40;"></i>
        </div>
        <div class="mb-3 position-relative">
          <input type="password" class="form-control rounded-5 pe-5" id="newPassword" name="newPassword" placeholder="New Password" required>
          <i class="bi bi-lock position-absolute top-50 end-0 translate-middle-y pe-3" style="font-size: 18px; color: #343a40;"></i>
        </div>

        <!-- tampat untuk memberi pesan error apapun itu -->
        <% if (message.length != 0) { %>
          <div class="alert alert-danger" role="alert">
              <%= message %>  
          </div>
         <% } %>

         <button type="submit">Change Password</button>
      </form>
      <br>
      <div class="d-flex justify-content-start align-items-center">
        <p class="mb-0">Don't have an account?</p>
        <strong><a href="signup" class="ms-1">Register</a></strong>
      </div>
    </div>
  </div>
    
  <%- include('includes/footer') %>
  <%- include('includes/script') %>
  <script src="/showPassword.js"></script>
</body>
</html>
